.card{
  position: relative;
  overflow: hidden;
}
.card:hover::after{
  opacity: 1;
}
.card::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(0,0,0, 0.1),
    transparent 30%
  );
  opacity: 0;
  transition: opacity 500ms;
}